.presetUnitsDropdown {
  height: 300px;
  overflow-y: auto;
}

.buildContainer {
  margin-top: 20px;
}

.displayContainer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  width: 100%;
}

.buildHeader {
  display: inline-flex;
  align-items: center;
}
.buildFooter {
  display: flex;
  flex-direction: column;
}

.presetUnitsBtn {
  margin-left: 10px;
}

.badge {
  cursor: pointer;
}

.unitBtn {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.childDisplayGroup {
  margin-top: 5px;
}

.displayCard {
  width: 100%;
}

.footerLinks {
  margin-top: 5px;
}
